@media screen and (min-width: 425px) {
    /* Courses page */
    #carousel-reviews .carousel-inner {
        height: 475px;
    }
}
@media screen and (min-width: 576px) {
    body {
        padding-bottom: 220px;
    }
    #footer-content {
        height: 220px;
    }
    /* Courses page */
    .modal-dialog {
        max-width: 550px!important;
        width: 550px!important;
    }
    .modal-dialog td {
        font-size: 1rem;
    }
}
@media screen and (min-width: 768px) {
    body {
        padding-bottom: 140px;
    }
    #footer-content {
        height: 140px;
    }
    #footer-info {
        height: 100%;
    }
    .mm-info {
        height: 60%;
    }
    /* Course page */
    #banner-holder {
        height: clamp(120px, 30vw - 100px, 335px);
    }
    .mm-course-container h3 {
        font-size: 1.5rem!important;
    }
    .mm-course-desc, .mm-slider-text p {
        font-size: 1.25rem!important;
    }
    .mm-note {
        font-size: 1rem!important;
    }
    #carousel-reviews .carousel-inner {
        height: 495px;
    }
    #carousel-reviews p {
        width: 85%;
    }
    .mm-slider-img, .mm-slider-text {
        width: 45%;
    }
    .mm-review-slider-image-holder {
        width: 55%;
    }
    /* Contact page */
    #contact-banner-holder {
        height: clamp(120px, 30vw - 100px, 335px);
    }
    /* Author page */
    #author-container .row {
        width: 80%;
    }
    #author-picture-container {
        height: 400px;
    }
}
@media screen and (min-width: 900px) {
    #carousel-reviews .carousel-inner {
        height: 435px;
    }
}
@media screen and (min-width: 992px) {
    #carousel-reviews .carousel-inner {
        height: 400px;
    }
}
@media screen and (min-width: 1200px) {
    body {
        padding-bottom: 115px;
    }
    #footer-content {
        height: 115px;
    }
    #author-container .row {
        width: 70%;
    }
    /* index page */
    #slider h2 {
        font-size: 2rem!important;
    }
    /* Courses page */
    #banner-holder {
        background-position: bottom;
        background-attachment: fixed;
    }
    #carousel-reviews .carousel-inner {
        height: 625px;
    }
    .mm-review-slider-image-holder {
        width: 45%;
    }
}
@media screen and (min-width: 1400px) {
    /* index page */
    #slider p {
        font-size: 1.25rem!important;
    }
    /* Courses page */
    #carousel-reviews .carousel-inner {
        height: 550px;
    }
    /* Contact page */
    #form-container {
        width: 50%;
    }
}
@media screen and (min-width: 1500px) {
    /* Courses page */
    #carousel-reviews .carousel-inner {
        height: 500px;
    }
}
@media screen and (min-width: 1700px) {
    /* Courses page */
    #carousel-reviews .carousel-inner {
        height: 455px;
    }
}