* {
    margin: 0px;
    padding: 0px;
}
:root {
    --link-color: rgba(0, 0, 0, 0.65);
    --link-hover-color: rgba(0, 0, 0, 0.8);
    --input-color: #808080;
    --focus-color: rgb(56, 56, 56);
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 290px; /* Footer height */
    font-family: 'Roboto', sans-serif;
}

.mm-dark {
    background-color: rgba(0, 0, 0, 0.65);
}

.mm-hr, #welcome, #footer-content, #offer, #reviews, #course-offers, #contact-reviews-slider, #contact-section {
    width: 90%;
    margin: 0px auto;
}
.mm-vertical-line {
    position: absolute;
    height: 75%;
    top: 12.5%;
    right: 0px;
    outline: 1px solid rgba(128, 128, 128, 0.5);
}

/* Header */
#nav-menu-container {
    width: 90%;
}
#nav-menu-container .collapse {
    width: clamp(35%, calc(550px - 5vw), 45%);
    flex-grow: 0;
}
#nav-menu-container .collapse ul {
    width: 100%;
    justify-content: space-between;
}

/* footer */
footer {
    /* Keeps footer at the bottom of the screen */
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#footer-content {
    height: 290px; /* Default (mobile) footer height */
}
#footer-info {
    height: 45%;
}
#socials-container {
    padding: 10px 0px;
}
#to-top-btn {
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 30px;
}
i {
    color: var(--link-color);
    transition: color 0.15s;
}
i:hover {
    color: var(--link-hover-color);
}

/* Carousel */
#carousel-container-inner {
    height: calc(100vh - 68px);
    max-height: 960px;
    border-bottom: 1px solid gray;
}
.mm-carousel-info {
    position: absolute;
    bottom: 16%;
}
#carousel-1 {
    background-image: url("../img/carousel-1.jpg");
}
#carousel-2 {
    background-image: url("../img/carousel-2.jpg");
}
#carousel-3 {
    background-image: url("../img/carousel-3.jpg");
}
.mm-carousel-slide {
    background-size: cover;
    background-position: center;
}

/* Welcome */
.mm-info {
    min-height: 150px;
}

/* Offer */
#courses-btn {
    min-width: 225px;
}

/* Reviews */
#reviews p {
    font-size: 1.1rem;
    text-align: justify;
}
.mm-review-image-container {
    width: 100%;
    height: calc(2rem + 80px);
}
.mm-review-image-container img {
    border-radius: 50%;
    outline: 1px solid gray;
}

/* Courses page */
#banner-holder {
    background-image: url("../img/course-banner.jpg");
    background-size: cover;
    background-position-y: center;
    background-attachment: scroll;
}
.mm-course-container {
    width: 95%;
    height: 100%;
    margin: 0px auto;
}
.mm-course-container p {
    text-align: justify;
}
.mm-course-info {
    padding-bottom: 40px;
}
.mm-buy-course {
    bottom: 20px;
    left: 0px;
}
.mm-note {
    font-size: 0.8rem!important;
}
#carousel-reviews .carousel-inner {
    width: 98%;
    height: 510px;
    outline: 1px solid gray;
    padding: 35px 0px;
}
#carousel-reviews p {
    width: 90%;
    margin: 0px auto;
    text-align: justify;
}
.mm-slider-img, .mm-slider-text {
    width: 90%;
}
.mm-review-slider-image-holder {
    width: 40%;
}
.mm-review-slider-image-holder img {
    border-radius: 50%;
    box-shadow: 1px 2px 5px;
}
.modal-dialog {
    width: 80%!important;
    margin-left: auto;
    margin-right: auto;
}
.modal-dialog td {
    font-size: 0.8rem;
}

/* Contact page */
#contact-banner-holder {
    background-image: url("../img/contact-banner.jpg");
    background-size: cover;
    background-position-y: 60%;
    background-attachment: scroll;
}
#form-container {
    width: 90%;
    outline: 2px solid var(--input-color);
}
#form-container input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid var(--input-color);
    margin-bottom: 1.2rem;
}
#form-container input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid var(--focus-color);
}
#form-container textarea {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid var(--input-color);
    border-radius: 5px;
    margin: 1rem 0rem;
    resize: none;
}
#form-container textarea:focus {
    border: 2px solid transparent;
} 

/* Author page */
#author-container {
    margin: 60px 0px;
}
#author-container .row {
    width: 75%;
}
#author-picture-container {
    height: 200px;
}
#author-picture-container img {
    display: block;
    outline: 1px solid gray;
    border-radius: 5px;
}
#author-text {
    text-align: justify;
}